/* место для вашего кода */



.header {
    min-height: 109px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 91px 49px 91px 51px;
}
.header_menu {
    align-self: center;
    justify-self: start;
}
.header__links-list {
    display: flex;
    gap: 30px;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link_active .header__links-list-item_no-bullit {
    text-decoration: none;
}
.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
}
.header__links-menu {
    display: block;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
.header_link {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
}
.address {
    justify-self: end;
    align-self: center;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}
.address_phone {
    text-decoration: underline;
}




.cover {
    padding: 165px 50px 50px 50px;
    position: relative;
    z-index: -2;
    min-height: 757px;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    z-index: -1;
    position: absolute;
    opacity: 0.6000000238418579;
    background-color: #000;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.cover__title {
    z-index: 1;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%; 
    letter-spacing: 60px;
    text-transform: uppercase;
    letter-spacing: 25px;
}

.letter_o {
    margin-left: -10px;
}
.letter_t {
    margin-left: -10px;
}
.letter_n {
    letter-spacing: 5px;
}


.aligned-text {
    display: block;
    margin-bottom: 20px;
} 
.aligned-text_center {
    display: block;
    text-align: center;
    margin-bottom: 20px; 
}
.aligned-text_right {
    display: block;
    text-align: right;
    margin-bottom: 147px;   
}
.cover__description {
    display: flex;
    justify-content: end;

}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px; 
    text-transform: uppercase;
}




.about {
    padding: 90px 50px;
}
.about_column {
    display: grid;
    grid-template-columns: 430px 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 8px;
}
.about__logo {
    justify-self: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
    padding: 63px 46px;
}
.about__logo-image {
    width: 100%;
    height: 100%;
}
.about__title {
    align-self: center;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}
.about_text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.about__text-margin {
    display: block;
    margin-top: 25px;
}



.footer {
    padding: 90px 50px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.address-footer {
    justify-self: start;
    align-self: start;
}
.footer__menu {
    justify-self: center;
}
.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.footer__menu-link {
    text-decoration: underline;
}
.footer__menu-link_active  {
    text-decoration: none;
}
.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: end;
    column-gap: 48px;
}
.footer__social-list-item  {
    width: 48px;
    height: 48px;
} 

